@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
}